<div class="modal fade" id="add-comment-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="comment-form" action="/comment/save" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add comment</h4>
                    <ul class="modal-errors alert alert-danger"></ul>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea name="content" class="form-control" rows="3"></textarea>
                        <div class="form-group">
                            <label for="files">Files</label>
                            <input type="file" name="files" id="files" multiple>
                            <div style="clear:both"></div>
                        </div>
                        <div style="clear:both">
                            <label for="notify">Notify</label>
                        </div>
                        {{#each users}}
                            <div class="checkbox col-sm-3">
                                <label>
                                    <input name="notifications[]" value="{{{id}}}" type="checkbox">{{{name}}} {{{surname}}}
                                </label>
                            </div>
                        {{/each}}
                    </div>
                    <div style="clear:both"></div>
                    <hr />
                    <div class="form-group priority-area">
                        <h4>Modify task</h4>
                        <label for="important">Priority</label>
                        <select class="form-control" id="important" name="important[]">
                            <option selected="{{{inArray 1 task.important}}}" value="1">Normal</option>
                            <option selected="{{{inArray 2 task.important}}}" value="2">Urgent</option>
                        </select>
                        <label for="rank">Rank</label>
                        <select class="form-control" id="rank" name="rank">
                            {{#times 10}}
                                <option {{#compare @current ../task.rank}} selected="selected" {{/compare}} value="{{{@current}}}">
                                    {{{@current}}}
                                </option>
                            {{/times}}
                        </select>
                        <label for="assignee">For</label>
                        <select class="form-control" id="assignee" name="assignee">
                            {{#each users}}
                                <option  {{#compare id ../task.assignee}} selected="selected" {{/compare}} value="{{{id}}}">
                                    {{{name}}} {{{surname}}}
                                </option>
                            {{/each}}
                        </select>
                        <div class="checkbox">
                            <label>
                                <input name="important[]"  value="3" type="checkbox"
                                    {{{isCheckboxChecked 3 task.important}}}> Sebastian
                            </label>
                        </div>
                    </div>
                    <input type="hidden" name="task" class="task" value=""/>
                    <input type="hidden" name="parent" class="parent" value=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save-button">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function($) {
        $(document).on('click', '.add-comment-button', function(){
            const parent = $(this).data('parent'),
                  task = $(this).data('task');
            $('#comment-form .task').val(task);
            $('#comment-form .parent').val(parent);
            $('#add-comment-modal .modal-errors').empty();
            $('#add-comment-modal .modal-errors').hide();
            $('#add-comment-modal').modal('show');
        });

        $(document).on('click', '#comment-form .save-button', function(){
            $.post("/comment/save", $("#comment-form").serialize(), function(response) {
                $('.modal-errors').empty();
                if (response.errors) {
                    $.each(response.errors, function(key, error) {
                        $('.modal-errors').append(
                            '<li>' + error.message + '</li>'
                        );
                    });
                    $('#add-comment-modal .modal-errors').show();
                    return false;
                }
                location.reload();
            });
        });

    });
</script>