<div class="media">
    {{log comment.task}}
    <div class="media-left">
        <a style="background-color:{{{toHex comment.author.surname}}}">
            {{{firstLetter comment.author.login}}}
        </a>
    </div>
    <div class="media-body">
        <h4>
            Commented by: {{{comment.author.name}}} {{{comment.author.surname}}} ({{{comment.author.login}}})
            <small>on {{{dateYmdHis comment.createdAt}}}</small>
            <div id="label-todo-{{{comment.id}}}" class="label label-info pull-right comment-todo" data-comment-id="{{{comment.id}}}" style="display: none">todo → done</div>
            <div id="label-done-{{{comment.id}}}" class="label label-success pull-right comment-done" data-comment-id="{{{comment.id}}}" style="display: none">done</div>
        </h4>
        <div class="content">
            {{{comment.content}}}
        </div>
        <div class="files">
            {{#if comment.files}}
                {{#each comment.files}}
                    <div class="media">
                        {{#if (isImage mimetype)}}
                            <a href="{{{baseUrl}}}images/upload/{{{../comment.task}}}/{{{filename}}}"><img class="img-thumbnail" src="{{{baseUrl}}}images/upload/{{{../comment.task}}}/{{{filename}}}" alt=""></a>
                        {{else}}
                            <a href="{{{baseUrl}}}images/upload/{{{../comment.task}}}/{{{filename}}}">{{{filename}}}</a>
                        {{/if}}
                    </div>
                {{/each}}
            {{/if}}
        </div>
        <button id="reply-{{{comment.id}}}" class="btn btn-default add-comment-button btn-xs" data-task="{{{comment.task}}}" data-parent="{{{comment.id}}}" style="display: none;">Reply to this post</button>
        <button id="show-hidden-comments-{{{comment.id}}}" class="btn btn-default show-hidden-comments btn-xs" data-comment-id="{{{comment.id}}}" style="display: none;">Show hidden comments</button>
        <button id="show-comments-{{{comment.id}}}" class="btn btn-default hide-comments btn-xs" data-comment-id="{{{comment.id}}}" style="display: none;">Hide comments</button>
        <div id="children-{{{comment.id}}}" style="display: none;"></div>
    </div>
</div>

<script>
    jQuery(document).ready(function($) {
        const commentId = '{{{comment.id}}}',
            taskId = '{{{comment.task}}}';
            
        if('{{{comment.status}}}' === 'todo') {
            $('button#reply-' + commentId).show();
            $('div#children-' + commentId).show();
            $('div#label-todo-' + commentId).show();
        } else {
            $('button#show-hidden-comments-' + commentId).show();
            $('div#label-done-' + commentId).show();
        }
        
        $('button.show-hidden-comments').each(function(index) {
            $(this).on('click', function(e) {
                var commentId = $(this).attr('data-comment-id');
                
                $(this).hide();
                $('div#children-' + commentId).show();
                $('button#show-comments-' + commentId).show();
            });
        }); 
        
        $('button.hide-comments').each(function(index) {
            $(this).on('click', function(e) {
                var commentId = $(this).attr('data-comment-id');
                
                $(this).hide();
                $('div#children-' + commentId).hide();
                $('button#show-hidden-comments-' + commentId).show();
            });
        }); 
           
        $.ajax({
            method: 'post',
            dataType: 'html',
            data: {
                commentId: commentId,
                taskId: taskId
            },
            url: "/comment",
            context: document.body
        }).done(function(response) {
            $('#children-' + commentId).html(response);
        });
    });
</script>
