<div class="media">
    {{log comment.task}}
    <div class="media-left">
        <a style="background-color:{{{toHex comment.author.surname}}}">
            {{{firstLetter comment.author.login}}}
        </a>
    </div>
    <div class="media-body">
        <h4>
            Commented by: {{{comment.author.name}}} {{{comment.author.surname}}} ({{{comment.author.login}}})
            <small>on {{{dateYmdHis comment.createdAt}}}</small>
        </h4>
        <div class="content">
            {{{comment.content}}}
        </div>
        <div class="files">
            {{#if comment.files}}
                {{#each comment.files}}
                    <div class="media">
                        {{#if (isImage mimetype)}}
                            <a href="{{{baseUrl}}}images/upload/{{{../comment.task}}}/{{{filename}}}"><img class="img-thumbnail" src="{{{baseUrl}}}images/upload/{{{../comment.task}}}/{{{filename}}}" alt=""></a>
                        {{else}}
                            <a href="{{{baseUrl}}}images/upload/{{{../comment.task}}}/{{{filename}}}">{{{filename}}}</a>
                        {{/if}}
                    </div>
                {{/each}}
            {{/if}}
        </div>
        <button class="btn btn-default add-comment-button btn-xs" data-task="{{{comment.task}}}" data-parent="{{{comment.id}}}">Reply to this post</button>
        <div id="children-{{{comment.id}}}"></div>
    </div>
</div>

<script>
    jQuery(document).ready(function($){
        const commentId = '{{{comment.id}}}', taskId = '{{{comment.task}}}';
        $.ajax({
            method: 'post',
            dataType: 'html',
            data: { commentId: commentId, taskId: taskId },
            url: "/comment",
            context: document.body
        }).done(function(response) {
            $('#children-' + commentId).html(response);
        });
    });
</script>
