{{#if task._id}}
    <form id="task-delete" action="/task/delete" method="post">
        <input type="hidden" name="_id" value="{{{task._id}}}">
        <h1>Edit entry
            <small><button class="btn btn-danger" type="submit">delete</button></small>
            <small><a href="/task" class="btn btn-warning">go back</a></small>
        </h1>
    </form>
{{else}}
    <h1>Create entry
        <small><a href="/task" class="btn btn-warning">go back</a></small>
    </h1>
{{/if}}

{{>errorMessages errors=errors}}

<div class="panel panel-default">
    <div class="panel-body">

        <form id="task-save" enctype="multipart/form-data" action="/task/save" method="post">
            <input type="hidden" name="_id" value="{{{task._id}}}"/>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{{task.title}}}">
            </div>
            <div class="form-group">
                <label for="content">Description</label>
                <textarea class="form-control wysiwyg" id="content" name="content" rows="12">{{{task.content}}}</textarea>
            </div>
            <div class="form-group">
                <label for="files">Files</label>
                <input type="file" name="files" id="files" multiple>
            </div>
            <div class="form-group notification-area">
                <div style="clear:both">
                    <label for="notify">Notify</label>
                </div>
                {{#each users}}
                    <div class="checkbox col-sm-3">
                        <label>
                            <input value="{{{id}}}" type="checkbox"> {{{name}}} {{{surname}}}
                        </label>
                    </div>
                {{/each}}
            </div>
            <div class="form-group priority-area">
                <label for="priority">Priority</label>
                <select class="form-control" id="priority" name="priority">
                    <option value="1">Normal</option>
                    <option value="2">Urgent</option>
                </select>
                <label for="rank">Rank</label>
                <select class="form-control" id="rank" name="rank">
                    {{#times 10}}
                        <option value="{{{@current}}}">{{{@current}}}</option>
                    {{/times}}
                </select>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Sebastian
                    </label>
                </div>
            </div>
            <div class="form-group author-area">
                <label for="author">From</label>
                <select class="form-control" id="author" name="author">
                    {{#each users}}
                        <option value="{{{id}}}">{{{name}}} {{{surname}}}</option>
                    {{/each}}
                </select>
                <label for="assignee">For</label>
                <select class="form-control" id="assignee" name="assignee">
                    {{#each users}}
                        <option value="{{{id}}}">{{{name}}} {{{surname}}}</option>
                    {{/each}}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>

<button class="btn btn-default add-comment-button btn-xs" data-task="{{{task._id}}}" data-parent="">Add Comment</button>

{{>commentAdd}}

{{>commentEntries comments=comments}}
