{{#if task._id}}
    <form id="task-delete" action="/task/delete" method="post">
        <input type="hidden" name="_id" value="{{{task._id}}}">
        <h1>Edit entry
            <small><button class="btn btn-danger" type="submit">Delete</button></small>
            <small><a href="/task" class="btn btn-warning">Go Back</a></small>
        </h1>
    </form>
{{else}}
    <h1>Create entry
        <small><a href="/task" class="btn btn-warning">go back</a></small>
    </h1>
{{/if}}

{{>messages}}

<div class="panel panel-default">
    <div class="panel-body">

        <form id="task-save" enctype="multipart/form-data" action="/task/save" method="post">
            <fieldset>
                <input type="hidden" name="_id" value="{{{task._id}}}"/>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{{task.title}}}">
                </div>
                <div class="form-group">
                    <label for="content">Description</label>
                    {{#if task._id}}
                        <div class="edit-content">{{{task.content}}}</div>
                    {{else}}
                        <textarea class="form-control wysiwyg" id="content" name="content" rows="12">{{{task.content}}}</textarea>
                    {{/if}}
                </div>
                <div class="form-group">
                    <label for="files">Files</label>
                    <input type="file" name="files" id="files" multiple>
                    <div style="clear:both"></div>
                    {{#if task.files}}
                        {{#each task.files}}
                            <div class="media">
                                {{#if (isImage mimetype)}}
                                    <a target="_blank" href="{{{baseUrl}}}images/upload/{{{../task._id}}}/{{{filename}}}"><img class="img-thumbnail" src="{{{baseUrl}}}images/upload/{{{../task._id}}}/{{{filename}}}" alt=""></a>
                                {{else}}
                                    <a target="_blank" href="{{{baseUrl}}}images/upload/{{{../task._id}}}/{{{filename}}}">{{{filename}}}</a>
                                {{/if}}
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
                <div class="form-group notification-area">
                    <div style="clear:both">
                        <label for="notify">Notify</label>
                    </div>
                    {{#each users}}
                        <div class="checkbox col-sm-3">
                            <label>
                                <input name="notifications[]" value="{{{id}}}" type="checkbox"
                                    {{{isCheckboxChecked id ../task.notifications}}}>{{{name}}} {{{surname}}}
                            </label>
                        </div>
                    {{/each}}
                </div>
                <div class="form-group priority-area">
                    <label for="important">Priority</label>
                    <select class="form-control" id="important" name="important[]">
                        <option {{{isSelectSelectedInArray 1 task.important}}} value="1">Normal</option>
                        <option {{{isSelectSelectedInArray 2 task.important}}} value="2">Urgent</option>
                    </select>
                    <label for="rank">Rank</label>
                    <select class="form-control" id="rank" name="rank">
                        {{#times 10}}
                            <option {{#compare @current ../task.rank}} selected="selected" {{/compare}}
                                                                       value="{{{@current}}}">{{{@current}}}</option>
                        {{/times}}
                    </select>
                    <div class="checkbox">
                        <label>
                            <input name="important[]"  value="3" type="checkbox"
                                {{{isCheckboxChecked 3 task.important}}}> Sebastian
                        </label>
                    </div>
                </div>
                <div class="form-group author-area">
                    <label for="author">From</label>
                    <select class="form-control" id="author" name="author">
                        {{#each users}}
                            <option {{#compare id ../task.author}} selected="selected" {{/compare}}
                                                                   value="{{{id}}}">{{{name}}} {{{surname}}}</option>
                        {{/each}}
                    </select>
                    <label for="assignee">For</label>
                    <select class="form-control" id="assignee" name="assignee">
                        {{#each users}}
                            <option  {{#compare id ../task.assignee}} selected="selected" {{/compare}}
                                                                      value="{{{id}}}">{{{name}}} {{{surname}}}</option>
                        {{/each}}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>

    </div>
</div>

<button class="btn btn-default add-comment-button btn-xs" data-task="{{{task._id}}}" data-parent="">Add Comment</button>

{{>commentAdd users=users task=task}}

{{>commentEntries comments=comments}}
