<div class="container">
    <h2>Active tasks</h2>
    <div id="task-index">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Rank</th>
                <th>[!!!]</th>
                <th>SEB</th>
                <th>Title</th>
                <th>Brief</th>
                <th>From</th>
                <th>For</th>
                <th>Posts</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
            </thead>
            <tbody>
            {{#each todo}}
                <tr>
                    <td>{{{id}}}</td>
                    <td>{{{status}}}</td>
                    <td>{{{rank}}}</td>
                    <td>{{{important}}}</td>
                    <td>{{{important}}}</td>
                    <td>{{{title}}}</td>
                    <td>{{{description}}}</td>
                    <td>{{{author}}}</td>
                    <td>{{{assignee}}}</td>
                    <td>posty</td>
                    <td>{{{ createdAt}}}</td>
                    <td>{{{ updatedAt}}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <h2>Done tasks</h2>
    <div id="task-index">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Rank</th>
                <th>[!!!]</th>
                <th>SEB</th>
                <th>Title</th>
                <th>Brief</th>
                <th>From</th>
                <th>For</th>
                <th>Posts</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
            </thead>
            <tbody>
            {{#each done}}
                <tr>
                    <td>{{{id}}}</td>
                    <td>{{{status}}}</td>
                    <td>{{{rank}}}</td>
                    <td>{{{important}}}</td>
                    <td>{{{important}}}</td>
                    <td>{{{title}}}</td>
                    <td>{{{description}}}</td>
                    <td>{{{author}}}</td>
                    <td>{{{assignee}}}</td>
                    <td>posty</td>
                    <td>{{{createdAt}}}</td>
                    <td>{{{updatedAt}}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
